* {
    font-family: "Josefin Sans";
}

body {
    background: navajowhite;
    color: sienna;
    margin: 10% 25%;
    line-height: 2;
    /*font-weight: bold;*/
}

::selection {
    background: lightblue;
}

.headerflexbox {
    display: flex;
}
.stickyheader {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background: navajowhite;
}

.stickyfooter {
    bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    background: navajowhite;
}

h1 {
    color: maroon /*sienna indianred*/;
    font-size: 44px;
    letter-spacing: 7px;
}

h2 {
    color: maroon;
    font-size: 28px;
    font-weight: normal;
}

ul {
    font-size: 18px;
    line-height: 1.5;
    list-style-type: none;
    text-indent: -30px;
    padding-left: 55px;
}

ul.langs {
    color: sienna;
}

a {
    color: indianred;
}

body h3 {
    font-weight: bold;
    font-size: 22px;
    color: maroon;
}

.about {
    font-size: 18px;
    line-height: 1.5;
}

.workflexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn {
    padding: 10px 30px;
    color: sienna;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background: none;
    /*
    height: 80px;
    width: 400px;
    */
}
.btn:hover {
    border: none;
    background-color: sienna /*rgba(0, 230, 255, .6)*/;
    color: navajowhite;
}
